html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden; /* Disables scrollbars */
}

.flip-book {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* set background for flipbook */
  background: #111111;
  padding: 20px;
  overflow: hidden;

  background-image: url("/public/images/left_bg.png"), url("/public/images/right_bg.png");
  background-repeat: no-repeat;
  background-position:
    bottom left,
    bottom right;
  background-size:
    40% auto,
    40% auto;
}

.left-arrow {
  cursor: pointer;
  position: fixed;
  left: 12vw;
}
.right-arrow {
  cursor: pointer;
  position: fixed;
  right: 12vw;
}
.sound-icon {
  cursor: pointer;
  position: absolute;
  top: 40px;
}
