.flip-book {
  /* make sure app center */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* set background for flipbook */
  background: #111111;
  padding: 20px;
  overflow: hidden;
}
